variable "fastly_name" {
  type = "string"
  default = "api-proxy"
}

variable "SUMO_COLLECTOR" {
  type = "string"
}

resource "fastly_service_v1" "fastly" {
    name = "${terraform.workspace == "production" ? var.fastly_name : format("%s-%s", terraform.workspace, var.fastly_name)}"
{{- range . }}
    backend {
        name = "{{ .Name }}"
        address = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 0 }}" : "{{ index .Address.Prod 0 }}"}"
        port = {{ .Port }}
        {{- if .TLS }}
        use_ssl = true
        ssl_check_cert = true
        ssl_sni_hostname = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 0 }}" : "{{ index .Address.Prod 0 }}"}"
        ssl_cert_hostname = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 0 }}" : "{{ index .Address.Prod 0 }}"}"
        {{- end -}}
        {{- if .Healthcheck.Path }}
        healthcheck = "{{ .Name }}"
        {{- end }}
    }
    {{- if .Healthcheck.Path }}
    healthcheck {
        name = "{{ .Name }}"
        host = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 0 }}" : "{{ index .Address.Prod 0 }}"}"
        path = "{{ .Healthcheck.Path }}"
        expected_response = 200
        method = "{{ .Healthcheck.Method }}"
        check_interval = 60000
        threshold = 1
        timeout = 5000
        window = 2
        initial = 1
    }
    {{- end -}}
    {{- if .Loadbalancer }}
    backend {
        name = "{{ .Name }}-west"
        address = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 1 }}" : "{{ index .Address.Prod 1 }}"}"
        port = {{ .Port }}
        {{ if .TLS -}}
        use_ssl = true
        ssl_check_cert = true
        ssl_sni_hostname = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 1 }}" : "{{ index .Address.Prod 1 }}"}"
        ssl_cert_hostname = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 1 }}" : "{{ index .Address.Prod 1 }}"}"
        {{- end -}}
        {{- if .Healthcheck.Path }}
        healthcheck = "{{ .Name }}-west"  
        {{- end }}
    }
    {{- end -}} 
    {{- if .Healthcheck.Path }}
    healthcheck {
        name = "{{ .Name }}-west"
        host = "${terraform.workspace == "origin-staging" ? "{{ index .Address.Staging 1 }}" : "{{ index .Address.Prod 1 }}"}"
        path = "{{ .Healthcheck.Path }}"
        expected_response = 200
        method = "{{ .Healthcheck.Method }}"
        check_interval = 60000
        threshold = 1
        timeout = 5000
        window = 2
        initial = 1
    }
    {{- end -}}
{{- end }}      
}